h1 {
  color: darkblue;
  font-style: italic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 10px 0;
  }
}

.successText {
  color: green;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding:0 10px;
  margin-bottom: 10px;
}

.errorText {
  color: red;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.blog {
  padding: 10px 5px;
  border: 1px solid;
  margin-bottom: 5px;
  
  p {
    margin: 0;
  }
}