.success {
  color: green;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.error {
  color: red;
  background: lightgray;
  border-style: solid;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
}
